---
import "../styles/evaPulse.css";

---

<div class="eva-pulse-container">
  <div class="eva-pulse-circle"></div>
  <p class="eva-status-text">Listening...</p>
</div>

 <script type="module" src="/src/scripts/evaPulse.js"></script>