---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---
<h1 id="myheading"></h1>
<button onclick="changeText()">changeText</button>


<button onclick="greet()">click me</button>
<script>
	function greet(){
		alert("hello priyanka");
	};

	function ChangeText() {
		document.getElementById("myheading");
		innerText ="you clicked me!";
	};


	
</script>
