---
const { title = "Tanishq Jewellery", description = "Beautiful jewellery collections" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <slot />  <!-- yaha tumhara page ka content inject hoga -->
  </body>
</html>
